
.testimonials {
    text-align: left;
    position: relative;
    margin-top: 100px;
    background-color: #ffffff;
    /* background-image: url("https://images.unsplash.com/photo-1605487903301-a1dff2e6bbbe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU2fHx0cmF2ZWxsaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    width: 100%; */
}

/* .rec-arrow-right, .rec-arrow-left{
    outline: none !important;
    position: absolute;
    top: 0;
    background: lavender;
    right: 20px;
    transform: translateY(100%);
    outline: none !important;
    margin: 5px;
}

.rec-arrow-left{
    transform: translateX(-120%) translateY(100%);
    -webkit-transform: translateX(-120%) translateY(100%);
    -moz-transform: translateX(-120%) translateY(100%);
    -ms-transform: translateX(-120%) translateY(100%);
    -o-transform: translateX(-120%) translateY(100%);
}

.khvUfi:hover:enabled, .khvUfi:focus:enabled {
    color: #fff;
    background-color: #1c2955 !important;
    box-shadow: 0 0 2px 0 #333;
} */

.testimonial-card {
    min-height: 250px;
    max-width: 400px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    line-height: 1;
    padding: 15px 15px;
    background-color: lavender;
}

.testimonial-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    align-items: center;
}

.testimonial-name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;
}

.testimonial-designation {
    font-weight: 300;
}

.testimonial-review {
    font-weight: 400;
}